* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

table, tr, td {
    border: 1px solid black;
    margin: 2px;
    padding: 4px;
    
}

td{
    margin: 0px;
    padding: 0px;
    height: 50px;
    width: 50px;
}

td > div {
    height: 100%;
    width: 100%;
    
}

div > button {
    height: 100%;
    width: 100%;
}

